.news-table span b {
    color: #2563eb;
}

html.dark .news-table span b {
    color: #93c5fd;
}

.news-table span a {
    text-decoration: underline;
    color: #1d4ed8;
}

html.dark .news-table span a {
    color: #bfdbfe;
}